# BANK MARKETING:

Predicting Whether The Customer Will Subscribe To Term Deposit (FIXED

DEPOSIT) or not.

# Final Project: Classification

In [ ]:
#Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [ ]:
#Loading the data
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

Checking the columns of each datase

In [ ]:
train.columns

In [ ]:
Index(['ID', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'subscribed'],
      dtype='object')

In [ ]:
test.columns

In [ ]:
Index(['id', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome'],
      dtype='object')

Hence, 'Subscribed' is the target variable.

Checking the data types of the variables

In [ ]:
train.info()

In [ ]:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31647 entries, 0 to 31646
Data columns (total 18 columns):

In [ ]:
#   Column      Non-Null Count  Dtype 
---  ------      --------------  ----- 
 0   ID          31647 non-null  int64 
 1   age         31647 non-null  int64 
 2   job         31647 non-null  object
 3   marital     31647 non-null  object
 4   education   31647 non-null  object
 5   default     31647 non-null  object
 6   balance     31647 non-null  int64 
 7   housing     31647 non-null  object
 8   loan        31647 non-null  object
 9   contact     31647 non-null  object
 10  day         31647 non-null  int64 
 11  month       31647 non-null  object
 12  duration    31647 non-null  int64 
 13  campaign    31647 non-null  int64 
 14  pdays       31647 non-null  int64 
 15  previous    31647 non-null  int64 
 16  poutcome    31647 non-null  object
 17  subscribed  31647 non-null  object
dtypes: int64(8), object(10)
memory usage: 3.1+ MB

In [ ]:
test.info()

In [ ]:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13564 entries, 0 to 13563
Data columns (total 17 columns):

In [ ]:
 #   Column     Non-Null Count  Dtype 
---  ------     --------------  ----- 
 0   ID         13564 non-null  int64 
 1   age        13564 non-null  int64 
 2   job        13564 non-null  object
 3   marital    13564 non-null  object
 4   education  13564 non-null  object
 5   default    13564 non-null  object
 6   balance    13564 non-null  int64 
 7   housing    13564 non-null  object
 8   loan       13564 non-null  object
 9   contact    13564 non-null  object
 10  day        13564 non-null  int64 
 11  month      13564 non-null  object
 12  duration   13564 non-null  int64 
 13  campaign   13564 non-null  int64 
 14  pdays      13564 non-null  int64 
 15  previous   13564 non-null  int64 
 16  poutcome   13564 non-null  object
dtypes: int64(8), object(9)
memory usage: 1.3+ MB

Checking the shapes of each dataset

In [ ]:
train.shape

In [ ]:
 (31647, 18)

In [ ]:
test.shape

In [ ]:
(13564, 17)

Hence, we can see that we have 17 similar features in the both the dataset and 'Subscribed' is the variable that is to be predicted

# Data Exploration

In [ ]:
#Printing the first 5 rows of the train dataset
train.head()

In [ ]:
      ID    age   job          marital    education    default    balance    housing    loan    contact    day    month    duration    campaign    pdays    previous    poutcome    subscribed
0    26110  56    admin.       married    unknown      no         1933        no         no     telephone  19     nov       44           2         -1        0          unknown       no
1    40576  31    unknown      married    secondary    no         3           no         no     cellular   20     jul       91           2         -1        0          unknown       no
2    15320  27    services     married    secondary    no         891         yes        no     cellular   18     jul       240          1         -1        0          unknown       no
3    43962  57    management   divorced   tertiary     no         3287        no         no     cellular   22     jun       867          1         84        3          success       yes
4    29842  31    technician   married    secondary    no         119         yes        no     cellular   4      feb       380          1         -1        0          unknown       no

In [ ]:
#Printing the first 5 rows of the test dataset
test.head()

In [ ]:
   ID     age    job            marital    education   default   balance   housing   loan   contact    day  month  duration   campaign  pdays   previous   poutcome
0    38441  32    services        married    secondary    no       118       yes       no     cellular   15   may     20         6          -1     0         unknown
1    40403  78    retired         divorced   primary      no       2787      no        no     telephone  1    jul     372        1          -1     0         unknown
2    3709   31    self-employed   single     tertiary     no       144       yes       no     unknown    16   may     676        1          -1     0         unknown
3    37422  57    services        single     primary      no       3777      yes       no     telephone  13   may     65         2          -1     0         unknown
4    12527  45    blue-collar     divorced   secondary    no       -705      no        yes    unknown    3    jul     111        1          -1     0         unknown

In [ ]:
#checking for missing values in train dataset
train.isnull().sum()

In [ ]:
ID            0
age           0
job           0
marital       0
education     0
default       0
balance       0
housing       0
loan          0
contact       0
day           0
month         0
duration      0
campaign      0
pdays         0
previous      0
poutcome      0
subscribed    0
dtype: int64

In [ ]:
#Checking for missing values in test dataset
test.isnull().sum()

In [ ]:
ID           0
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
dtype: int64

# Univariate Analysis

# Analysis of 'Subscribed' variable

In [ ]:
#Frequency of 'subscribed'
train['subscribed'].value_counts()

In [ ]:
no     27932
yes     3715
Name: subscribed, dtype: int64

In [ ]:
# Plotting the 'subscribed' frequency
sns.countplot(data=train, x='subscribed')

It seems like you're trying to use seaborn (sns) to create a count plot for the 'subscribed' variable in your train dataset. Assuming your dataset is structured correctly and you have imported seaborn and pandas libraries, you can create the count plot like this:

In [ ]:
mport seaborn as sns
import matplotlib.pyplot as plt
​
# Assuming 'subscribed' is a column in your train dataset
sns.countplot(data=train, x='subscribed')
​
# Optionally, you can add labels
plt.xlabel('Subscribed')
plt.ylabel('Frequency')
​
# Show the plot
plt.show()

This code will create a count plot showing the frequency of 'subscribed' values in your dataset. Make sure to replace 'subscribed' with the actual column name in your dataset if it's different.

In [ ]:
Normalizing the frequency table of 'Subscribed' variable
train['subscribed'].value_counts(normalize=True)

In [ ]:
no     0.882611
yes    0.117389
Name: subscribed, dtype: float64

From the above analysis we can see that only 3,715 people out of 31,647 have subscribed which is roughly 12%.

# Analysing th 'Job' variable

In [ ]:
#Frequency table
train['job'].value_counts()

In [ ]:
blue-collar      6842
management       6639
technician       5307
admin.           3631
services         2903
retired          1574
self-employed    1123
entrepreneur     1008
unemployed        905
housemaid         874
student           635
unknown           206
Name: job, dtype: int64

In [ ]:
# Plotting the job frequency table
sns.set_context('paper')
train['job'].value_counts().plot(kind='bar', figsize=(10,6));

This code will create a bar plot showing the frequency of different job categories in your dataset. It uses seaborn's default style and sets the context to 'paper' for better visualization in publications. Here's the code:

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
​
# Set the context to 'paper' for better visualization
sns.set_context('paper')
​
# Assuming 'job' is a column in your train dataset
train['job'].value_counts().plot(kind='bar', figsize=(10,6))
​
# Optionally, you can add labels
plt.xlabel('Job')
plt.ylabel('Frequency')
​
# Show the plot
plt.show()

Make sure to replace 'job' with the actual column name in your dataset if it's different. This code will generate a bar plot showing the frequency of each job category in your dataset.

# Analysis of 'marital' status

In [ ]:
train['marital'].value_counts()

In [ ]:
married     19095
single       8922
divorced     3630
Name: marital, dtype: int64

In [ ]:
sns.countplot(data=train, x='marital');

It seems like you want to create a count plot for the 'marital' variable in your dataset. Here's how you can do it using seaborn:

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
​
# Assuming the provided counts are for the 'marital' column
marital_counts = {'married': 19095, 'single': 8922, 'divorced': 3630}
​
# Convert the counts to a DataFrame
marital_df = pd.DataFrame.from_dict(marital_counts, orient='index', columns=['Count'])
​
# Plot the count plot
sns.countplot(data=train, x='marital')
​
# Optionally, you can add labels
plt.xlabel('Marital Status')
plt.ylabel('Frequency')
​
# Show the plot
plt.show()

This code will create a count plot showing the frequency of different marital statuses in your dataset. Make sure to replace 'marital' with the actual column name in your dataset if it's different.

In [ ]:
sns.countplot(data=train, x='marital', hue='subscribed');

To create a count plot showing the frequency of different marital statuses with respect to the 'subscribed' variable, you can use seaborn's countplot() function with the hue parameter. Here's how you can do it:

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
​
# Assuming 'marital' and 'subscribed' are columns in your train dataset
sns.countplot(data=train, x='marital', hue='subscribed')
​
# Optionally, you can add labels
plt.xlabel('Marital Status')
plt.ylabel('Frequency')
​
# Show the plot
plt.show()

# Analyzing the 'age' variable

To analyze the 'age' variable, you can create various types of plots depending on what aspect of the data you want to explore. Here are a few options:

1 . Histogram: A histogram will show the distribution of ages in your dataset.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
​
# Plotting histogram
sns.histplot(data=train, x='age', bins=20)
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.title('Distribution of Age')
plt.show()

1 . Box plot: A box plot will help you visualize the central tendency and spread of ages, as well as identify potential outliers.

In [ ]:
sns.boxplot(data=train, x='age')
plt.xlabel('Age')
plt.title('Boxplot of Age')
plt.show()

1 . Violin plot: Similar to a box plot but provides a kernel density estimation of the distribution.

In [ ]:
sns.violinplot(data=train, x='age')
plt.xlabel('Age')
plt.title('Violin Plot of Age')
plt.show()

 These are just a few options for visualizing the 'age' variable. Depending on your specific analysis goals, you may choose a different type of plot or combine multiple plots to gain deeper insights into your data.

# Bivariate Analysis

In [ ]:
#job vs subscribed
print(pd.crosstab(train['job'],train['subscribed']))

In [ ]:
subscribed       no  yes
job                     
admin.         3179  452
blue-collar    6353  489
entrepreneur    923   85
housemaid       795   79
management     5716  923
retired        1212  362
self-employed   983  140
services       2649  254
student         453  182
technician     4713  594
unemployed      776  129
unknown         180   26

In [ ]:
job = pd.crosstab(train['job'],train['subscribed'])
job_norm = job.div(job.sum(1).astype(float), axis=0

In [ ]:
job_norm.plot.bar(stacked=True,figsize=(8,6));

It seems you want to create a stacked bar chart showing the relationship between the 'job' and 'subscribed' variables. Here's how you can do it using the provided cross-tabulation:

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
​
# Crosstabulation of job and subscribed
job_subscribed_cross = pd.crosstab(train['job'], train['subscribed'])
​
# Normalize the cross-tabulation by dividing each row by the sum of its values
job_subscribed_normalized = job_subscribed_cross.div(job_subscribed_cross.sum(1), axis=0)
​
# Plotting the normalized cross-tabulation as a stacked bar chart
job_subscribed_normalized.plot(kind='bar', stacked=True, figsize=(10, 6))
​
# Optionally, you can add labels and a title
plt.xlabel('Job')
plt.ylabel('Proportion')
plt.title('Subscription Status by Job')
​
# Show the plot
plt.show()

From the above graph we can infer that students and retired people have higher chances of subscribing to a term deposit, which is surprising as students generally do not subscribe to a term deposit. The possible reason is that the number of students in the dataset is less and comparatively to other job types, more students have subscribed to a term deposit.

In [ ]:
#Marital status vs subscribed
pd.crosstab(train['marital'], train['subscribed'])

In [ ]:
subscribed    no      yes
marita              
divorced     3185     445
married      17176   1919
single       7571    135

In [ ]:
marital = pd.crosstab(train['marital'], train['subscribed'])
marital_norm = marital.div(marital.sum(1).astype(float), axis=0)
marital_norm

In [ ]:
subscribed    no        yes
marital       
divorced     0.877410   0.122590
married      0.899502   0.100498
single       0.848577   0.151423

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
​
# Crosstabulation of marital status and subscribed
marital_subscribed_cross = pd.crosstab(train['marital'], train['subscribed'])
​
# Normalize the cross-tabulation by dividing each row by the sum of its values
marital_subscribed_normalized = marital_subscribed_cross.div(marital_subscribed_cross.sum(1), axis=0)
​
# Plotting the normalized cross-tabulation as a stacked bar chart
marital_subscribed_normalized.plot(kind='bar', stacked=True, figsize=(10, 6))
​
# Optionally, you can add labels and a title
plt.xlabel('Marital Status')
plt.ylabel('Proportion')
plt.title('Subscription Status by Marital Status')
​
# Show the plot
plt.show()

This code will create a stacked bar chart where each bar represents a marital status category, and the height of each segment within the bar represents the proportion of subscribers ('yes' and 'no') for that marital status category. This visualization allows you to compare the subscription status across different marital status categories.

In [ ]:
#default vs subscription
pd.crosstab(train['default'], train['subscribed'])

In [ ]:
subscribed    no       yes
default
no           27388    3674
yes          544      41

In [ ]:
dflt = pd.crosstab(train['default'], train['subscribed'])
dflt_norm = dflt.div(dflt.sum(1).astype(float), axis=0)
dflt_norm

In [ ]:
subscribed      no        yes
default
no             0.881720   0.118280
yes            0.929915   0.070085

In [ ]:
dflt_norm.plot.bar(stacked=True, figsize=(6,6))

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
​
# Crosstabulation of default and subscribed
default_subscribed_cross = pd.crosstab(train['default'], train['subscribed'])
​
# Normalize the cross-tabulation by dividing each row by the sum of its values
default_subscribed_normalized = default_subscribed_cross.div(default_subscribed_cross.sum(1), axis=0)
​
# Plotting the normalized cross-tabulation as a stacked bar chart
default_subscribed_normalized.plot(kind='bar', stacked=True, figsize=(6, 6))
​
# Optionally, you can add labels and a title
plt.xlabel('Default Status')
plt.ylabel('Proportion')
plt.title('Subscription Status by Default Status')
​
# Show the plot
plt.show()

We can infer that clients having no previous default have slightly higher chances of subscribing to a term loan as compared to the clients who have previous default history.

In [ ]:
# Converting the target variables into 0s and 1s
train['subscribed'].replace('no', 0,inplace=True)
train['subscribed'].replace('yes', 1,inplace=True)

In [ ]:
train['subscribed']

In [ ]:
0        0
1        0
2        0
3        1
4        0
        ..
31642    0
31643    1
31644    0
31645    0
31646    1
Name: subscribed, Length: 31647, dtype: int64

In [ ]:
#Correlation matrix
tc = train.corr()
tc

In [ ]:
           ID          age         balance     day         duration    campaign     pdays        previous     subscribed
ID          1.000000    0.013337    0.067897   -0.063399     0.007183   -0.103508    0.436148     0.254476     0.296663
age         0.013337    1.000000    0.103245   -0.011056    -0.003870    0.005733   -0.021947     0.005761     0.024538
balance     0.067897    0.103245    1.000000    0.003461     0.024274   -0.012032    0.001789     0.013843     0.050807
day        -0.063399   -0.011056    0.003461    1.000000    -0.032288    0.159168   -0.087626    -0.048752    -0.029600
duration    0.007183   -0.003870    0.024274   -0.032288     1.000000   -0.080305    0.000529     0.001783     0.389838
campaign   -0.103508    0.005733   -0.012032    0.159168    -0.080305    1.000000   -0.087570    -0.033151    -0.070607
pdays       0.436148   -0.021947    0.001789   -0.087626     0.001783   -0.033151    0.428938     1.000000     0.088081
subscribed  0.296663    0.024538    0.050807   -0.029600     0.389838   -0.070607    0.108290     0.088081     1.000000

In [ ]:
fig,ax= plt.subplots()
fig.set_size_inches(20,10)
sns.heatmap(tc, annot=True, cmap='YlGnBu')

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
​
# Assuming 'tc' is your correlation matrix
# Example:
# tc = your_correlation_matrix_function(your_data)
​
fig, ax = plt.subplots()
fig.set_size_inches(20, 10)
​
sns.heatmap(tc, annot=True, cmap='YlGnBu', ax=ax)
​
# Optionally, you can add a title
plt.title('Correlation Heatmap')
​
# Show the plot
plt.show()

We can infer that duration of the call is highly correlated with the target variable. As the duration of the call is more, there are higher chances that the client is showing interest in the term deposit and hence there are higher chances that the client will subscribe to term deposit.

# Model Building

In [ ]:
target = train['subscribed']
train = train.drop('subscribed', axis=1)

In [ ]:
#generating dummy values on the train dataset
train = pd.get_dummies(train)
train.head()

In [ ]:
    ID     age  balance  day  duration  campaign  pdays  previous  job_admin.  job_blue-collar   ...  month_jun   month   _mar   month_may  month_nov   month_oct    month_sep  poutcome_failure  poutcome_other    poutcome_success    poutcome_unknown
0   26110  56   1933     19   44        2         -1     0         1           0                 ...   0           0       0     1           0          0            0          0                  0                 0                   1
1   40576  31   3        20   91        2         -1     0         0           0                 ...   0           0       0     0           0          0            0          0                  0                 0                   1
2   15320  27   891      18   240       1         -1     0         0           0                 ...   0           0       0     0           0          0            0          0                  0                 0                   1
3   43962  57   3287     22   867       1         84     3         0           0                 ...   1           0       0     0           0          0            0          0                  0                 1                   0
4   29842  31   119      4    380       1         -1     0         0           0                 ...   0           0       0     0           0          0            0          0                  0                 0                   1
5 rows × 52 columns

Splitting the data into train and validation set such as to validate the results of our model on the validation set. keeping 20% of the dataset as our validation set and the rest as our training set.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(train, target, test_size=0.2, random_state=12)

Now our data is ready and it's time to build our model and check its performance. Since it's a classification problem, I'll be using Logistic Regression model for this problem.

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
#creating an object of logistic regression model
lreg = LogisticRegression()

In [ ]:
#fitting the data into the model
lreg.fit(X_train,y_train)

LogisticRegression()

In [ ]:
#Making predictions on the validation set
pred = lreg.predict(X_val)

Checking the accuracy of our model

In [ ]:
from sklearn.metrics import accuracy_score_score

In [ ]:
#Calculating the accuracy score
accuracy_score(y_val,pred)

In [ ]:
0.8894154818325435

We got an accuracy score of around 89% on the validation dataset. Logistic regression has a linear decision boundary. What if our data have non linearity? We need a model that can capture this non linearity.

Using Decision Tree algorithm to for dealing with non-linearity

# Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
#creating an object of Decision tree
clf = DecisionTreeClassifier(max_depth=4, random_state=0)

In [ ]:
#fitting the model
clf.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=4, random_state=0)

In [ ]:
#making predictions on the validation set
predict = clf.predict(X_val)
predict

array([0, 0, 0, ..., 1, 0, 0], dtype=int64

In [ ]:
#Calculating the accuracy
accuracy_score(y_val,predict)

0.9042654028436019

We got an accuracy of more than 90% on the validation set.

Let's now make the prediction on test dataset

In [ ]:
test = pd.get_dummies(test)
test.head()

In [ ]:
   ID     age   balance  day  duration  campaign  pdays  previous  job_admin.  job_blue-collar  ...  month_jun    month_mar  month_may  month_nov   month_oct  month_sep  poutcome_failure   poutcome_other  poutcome_success  poutcome_unknown
0   38441  32    118      15   20        6         -1     0         0           0                ...  0            0          1          0           0          0          0                   0               0                 1
1   40403  78    2787     1    372       1         -1     0         0           0                ...  0            0          0          0           0          0          0                   0               0                 1
2   3709   31    144      16   676       1         -1     0         0           0                ...  0            0          1          0           0          0          0                   0               0                 1
3   37422  57    3777     13   65        2         -1     0         0           0                ...  0            0          1          0           0          0          0                   0               0                 1
4   12527  45   -705      3    111       1         -1     0         0           1                ...  0            0          0          0           0          0          0                   0               0                 1
5 rows × 52 columns

In [ ]:
test_pred = clf.predict(test)
test_pred

array([0, 1, 0, ..., 0, 1, 0], dtype=int64)

Finally, we will save these predictions into a csv file.

In [ ]:
submissions = pd.DataFrame()

In [ ]:
submissions['ID'] = test['ID']
submissions['subscribed'] = test_pred

In [ ]:
submissions['subscribed']

In [ ]:
0        0
1        1
2        0
3        0
4        0
        ..
13559    0
13560    0
13561    0
13562    1
13563    0
Name: subscribed, Length: 13564, dtype: int64

Since the target variable is yes or no, we will convert 1 and 0 in the predictions to yes and no respectively.

In [ ]:
submissions['subscribed'].replace(0,'no',inplace=True)
submissions['subscribed'].replace(1,'yes',inplace=True)

In [ ]:

submissions['subscribed']

In [ ]:
0         no
1        yes
2         no
3         no
4         no
        ... 
13559     no
13560     no
13561     no
13562    yes
13563     no
Name: subscribed, Length: 13564, dtype: object

In [ ]:
submissions.to_csv('submission file.csv', header=True, index=False)